<footer id="footer" class="center-block">
  <div class="copyright"> <a href="http://www.umeng.com/aboutus_about">关于我们</a> | <a href="http://t.sina.com.cn/umengcom"> 微博</a> | <a href="http://blog.umeng.com"> Blog </a> | <a href="http://www.umeng.com/termsofservice"> 服务条款 </a> | <a href="http://www.umeng.com/privacypolicy"> 隐私政策 </a>
  <p class="copy">© 2011－2015 Umeng.com, All Rights Reserved.<span class="ICP">| <a href="http://www.miibeian.gov.cn/">京ICP证120439号</a> | <a>京公网安备 110108008330</a></span> </p>
  </div>
</footer>